
  .current-location-button:hover {
    background: rgb(211, 211, 211);
    transition: 150ms ease-in-out;
  }
  ul {
    font-size: 18px;
    font-weight: 400;
    padding: 0px;
    margin: 0 auto;
    list-style: none;
  }
  h1 {
    font-size: 40px;
    font-weight: 500;
  }
  h2 {
    font-size: 30px;
    font-weight: 500;
  }
  #celsius {
    font-size: 30px;
  }

  #current-location-button {
    margin: 10px 0px 20px 0px;
  }
  #temp {
    font-size: 30px;
  }
  #time {
    font-size: 30px;
  }
  .cityBox {
    margin: 0 auto;
    border: 2px solid;
    padding: 30px;
  }


  .part-sun {
    color: rgb(219, 179, 0);
    font-size: 30px;
  }
  .cloud {
    color: rgb(124, 163, 175);
    font-size: 30px;
  }
 
  .rain {
    color: rgb(0, 96, 126);
    font-size: 30px;
  }

  .Weather {
  padding: 50px;
  }

  .weather-icon {
    font-size: 30px;
    color: #000;
  }
